<header>
    <nav class="navbar navbar-expand-md bg-dark navbar-dark ">
        <div><a href="wwww.google.com" class="navbar-brand"></a></div>
        
        <ul class="navbar-nav text-white">
            <li><a routerLink="/welcome" class="nav-link">Home</a></li>
            <li><a routerLink="/todos" class="nav-link">Todos</a></li>
            
        </ul>
        <ul class="navbar-nav navbar-collapse justify-content-end text-white">
            <li><a routerLink="/login" class="nav-link">Login</a></li>
            <li><a routerLink="/logout" class="nav-link">Logout</a></li>
            
        </ul>
    </nav>
</header>

