<div class="container">
     <h2 class="alert alert-success" ngbTooltip="Will disappear in 5s" *ngIf="message">{{message}}</h2>
</div>
<div class="container">
<h1 class="header">My Todo's</h1>

<table class="table table-striped" >
    
    <thead>
        <tr>
            <td>Id</td>
            <td>Description</td>
            <td>Target Date</td>
            <td>Completed?</td>
            <td>Action</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let todo of todos">
            <td>{{todo.id}}</td>
            <td>{{todo.description}}</td>
            <td>{{todo.targetDate | date}}</td>
            <td>{{todo.done}}</td>
            <td><button class="btn btn-warning" (click)="deleteTodo(todo.id)">Delete</button></td>
        </tr>
    </tbody>
</table>
</div>
